<form
  action="https://buttondown.email/api/emails/embed-subscribe/simenskriver"
  method="post"
  target="popupwindow"
  class="embeddable-buttondown-form"
>
<ul>
    <label for="email">Epost</label>
  <input
    type="email"
    name="email"
    placeholder="din@epost.com"
  />
    <label for="name">Navn</label>
  <input type="text"
  name="name"
  placeholder="Simen heter jeg, hva heter du?"
  />
  <input type="hidden" value="1" name="embed" />
  <div>
    <input type="submit" value="Bli med i gjengen" target="_blank" />
  </div>
  <p>Posten leveres av 
    <a href="https://buttondown.email" target="_blank">
      Buttondown.
    </a>
  </p>
</ul>
</form>
