<form
  action="https://buttondown.email/api/emails/embed-subscribe/simenskriver"
  method="post"
  target="popupwindow"
  class="embeddable-buttondown-form"
>
<ul>
  <p>
    <label for="email">Epost</label>
  </p>
  <input
    type="email"
    name="email"
    placeholder="din@epost.com"
  />
  <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Bli med i gjengen" />
  <p>Posten leveres av 
    <a href="https://buttondown.email" target="_blank">
      Buttondown.
    </a>
  </p>
</ul>
</form>
