
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
      <a href=#folkets-favoritter><h3 id=folkets-favoritter><span class=hanchor arialabel=Anchor># </span>Folkets favoritter</h3></a>
      <ul>  
      <li>
        <a href="/notes/Linking-your-thinking" rel="noopener" class="internal-link" data-src="/notes/Linking-your-thinking">Linking your thinking</a>
        </li>
        <li>
          <a href="/notes/Digitalt-hagearbeid" rel="noopener" class="internal-link" data-src="/notes/Digitalt-hagearbeid">Digitalt hagearbeid</a>
        </li>
        <li>
          <a href="/notes/Det-er-noe-feil-med-blogging-som-konsept" rel="noopener" class="internal-link" data-src="/notes/Det-er-noe-feil-med-blogging-som-konsept">det er noe feil med blogging som konsept</a>
        </li>
        <li>
          <a href="/notes/Den-neste-nye-tingen" rel="noopener" class="internal-link" data-src="/notes/Den-neste-nye-tingen">Den neste nye tingen</a>
        </li>
        <li>
          <a href="/notes/Fyller-virkelig-arbeidet-den-tida-du-har-tilgjengelig?" rel="noopener" class="internal-link" data-src="/notes/Fyller-virkelig-arbeidet-den-tida-du-har-tilgjengelig?">Fyller virkelig arbeidet den tida du har tilgjengelig?</a>          
        </li>
        <li>
          <a href="/notes/Hvor-ord-egentlig-kommer-fra" rel="noopener" class="internal-link" data-src="/notes/Hvor-ord-egentlig-kommer-fra">Hvor ord egentlig kommer fra</a>
        </li>
        <li>
          <a href="/notes/Hvorfor-jeg-blir-så-gira-av-Obsidian" rel="noopener" class="internal-link" data-src="/notes/Hvorfor-jeg-blir-så-gira-av-Obsidian">Hvorfor jeg blir så gira av Obsidian</a>
        </li>
        <li>
          <a href="/notes/Om-å-bruke-det-du-lærer" rel="noopener" class="internal-link" data-src="/notes/Om-å-bruke-det-du-lærer">Om å bruke det du lærer</a>
        </li>
        <li>
          <a href="/notes/Syntaks-er-nok-mer-spennende-enn-du-tror" rel="noopener" class="internal-link" data-src="/notes/Syntaks-er-nok-mer-spennende-enn-du-tror">syntaks er nok mer spennende enn du tror</a>
        </li>
      </ul>
      <a href=#Om-meg><h3 id=om-meg><span class=hanchor arialabel=Anchor># </span>Om meg</h3></a>
      <ul>
      <li>Hva jeg tenker på <a href="/notes/akkurat-nå" rel="noopener" class="internal-link" data-src="/notes/akkurat-nå">akkurat nå</a></li>
      <li>
        <a href="/notes/apper-jeg-liker" rel="noopener" class="internal-link" data-src="/notes/apper-jeg-liker">apper jeg liker</a>
      </li>
      </ul>
      </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
