<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
      <a href=#folkets-favoritter><h3 id=folkets-favoritter><span class=hanchor arialabel=Anchor># </span>Folkets favoritter</h3></a>
      <ul>  
      <li>
          <a href="/quartz/tidligere-blogginnlegg/Syntaks-er-nok-mer-spennende-enn-du-tror" rel="noopener" class="internal-link" data-src="/quartz/tidligere-blogginnlegg/Syntaks-er-nok-mer-spennende-enn-du-tror">syntaks er nok mer spennende enn du tror</a>
        </li>
        <li>
          <a href="/quartz/tidligere-blogginnlegg/Det-er-noe-feil-med-blogging-som-konsept" rel="noopener" class="internal-link" data-src="/quartz/tidligere-blogginnlegg/Det-er-noe-feil-med-blogging-som-konsept">det er noe feil med blogging som konsept</a>
        </li>
        <li>
          <a href="/quartz/Tidligere-blogginnlegg/Ditt-framtidige-fremmede-jeg" rel="noopener" class="internal-link" data-src="/quartz/Tidligere-blogginnlegg/Ditt-framtidige-fremmede-jeg">ditt framtidige, fremmede jeg</a>
        </li>
      </ul>
      <a href=#mine-favoritter><h3 id=mine-favoritter><span class=hanchor arialabel=Anchor># </span>Mine favoritter</h3></a>
      <ul>  
      </ul>
      </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
